<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BraintreePayPalCaptureStrategyCommand"
                type="MageWorx\OrderEditorBraintree\Gateway\Command\CaptureStrategyCommand" />
    <type name="MageWorx\OrderEditorBraintree\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">BraintreePayPalCommandPool</argument>
        </arguments>
    </type>

    <!-- Add braintree payment processor for reauthorization purpose -->
    <type name="MageWorx\OrderEditor\Model\Invoice\PaymentMethodProcessorFactory">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="braintree_paypal" xsi:type="string">MageWorx\OrderEditorBraintree\Model\Invoice\PaymentMethodProcessor\BraintreePayPalProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
